<div class="container-fluid project-container-header">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-left">
          <h1>Admin panel</h1>
          <ul class="list-inline">
            <li><%= link_to "New users and votes history", admin_url%></li>
            <li><%= link_to "View/edit users", users_url %></li>
            <li><%= link_to "View stats", stats_url %></li>
              
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>