<% provide(:title, "The Globe. Create Anywhere.") %>
<% provide(:description, "Hard to hire skilled talent locally? Meet here with world class pros willing to travel or relocate to your location.") %>
<% provide(:image, root_url + "images/paraglide.jpg") %>
        
<div class="container-fluid project-container-header">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-10"> 
          <h1>About The Globe</h1>
          <p></p>
        </div>
      </div>
    </div>  
  </div>           
</div> 
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#business" data-toggle="tab">Business (employer)</a></li>
        <li><a href="#pro" data-toggle="tab">Professional</a></li>
      </ul>
      <div id="abouttab" class="tab-content">
        <div class="tab-pane fade active in" id="business">
          <dl class="dl-horizontal">
            <dt><h3>What it is</h3></dt>
            <dd><p>This is a platform for businesses to source top-notch professionals abroad and bring them in for a limited term collaboration. We serve businesses facing talent shortfalls locally and pros that are willing to travel or relocate to other places. We focus mainly on high level digital pros because of their scarcity, short development cycle and universal applicability of their skills.</p></dd>
            <dt><h3>How it works</h3></dt>
            <dd><p>The first step is signing up and filling up profile data as usual. Sign-up is open for businesses and invitation-only for pros at this stage. Signed in business gets a feed of suggested candidates with detailed information about track record, skills, interests and priorities, as well as external recommendations. Signed-in pro, in a similar manner, gets a feed of suggested roles in companies. When the business and the pro &laquo;like&raquo; each other, we initiate direct communication between them. Once both sides agree on the hire, the platform is used as financial and legal intermediary. After the contract&rsquo;s completion both the company and the pro review each other thus generating history and earning personal trustworthiness on the platform.</p></dd>
            <dt><h3>Who pays</h3></dt>
            <dd><p>We only charge 10% fee from the business side.</p></dd>
            <dt><h3>Is it another freelance platform?</h3></dt>
            <dd><p>Jobs listed here are not permanent / indefinite, thus it is a freelance platform in a way. An important distinction is that we are focusing on higher-level roles that require at least some period of presence on site of the business. Our temporary contract may be viewed as a probation period for permanent job, but there are other benefits of such contract: 
                <ol class="list">
                  <li>it is easier for a pro to try living and working in different countries/industries rather then decide on permanent relocation;</li>
                  <li>t is easier for a company to invite someone on a short contract first, and it is ultimately efficient for irregular tasks and consulting jobs; </li>
                  <li>when a pro uses the platform as legal intermediary, she/he doesn&rsquo;t have to obtain permanent work permit in the country and may enter on business visitor type of visa (which is substantially easier to get).</li>
                </ol></p></dd>
          </dl>
        </div>
        <div class="tab-pane fade" id="pro">
          <p></p>
        </div>
      </div>      
    </div>
  </div>
</div>
