
<div class="flash-alerts">
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type%>"><%= message %></div>
<% end %>	
</div>
<%= render "adminmenu"%>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Tests</h2>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Test</th>
            <th>Total</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
        <% @tests.each do |test| %>
          <tr><% user = User.find(test.user_id) %>
            <td><%= user.id.to_s%></td>
            <td><%= user.name%></td>
            <td><%= user.email%></td>
            <td><%= test.num%></td>
            <td><%= test.total%> of <%= test.maxtotal %></td>
            <td><%= user.created_at.to_s%></td>
          </tr>
        <% end%>
        </tbody>
      </table>
      
      <h2>New users</h2>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>id</th>
            <th>Email</th>
            <th>Type</th>
            <th>Skills</th>
            <th>Created</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id.to_s%></td>
            <td><%= user.email%></td>
            <td><%= if user.utype == 1 then "Company" else "Pro" end%></td>
            <td><%= user.skills.to_s%></td>
            <td><%= user.created_at.to_s%></td>
            <td><%= user.status.to_s%></td>
            <td><%=link_to "Mark interviewed", user_mark_interviewed_url(user.id), method: "post"%><br>
                <%=link_to "Show", user_url(user) %><br>
                <%=link_to "Edit", edit_user_admin_url(user.id) %><br>
                <%= link_to('Destroy', user, method: "delete", data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %></td>
          </tr>
        <% end%>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12">
      <h2>Likes</h2>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>Sender, id</th>
            <th>email</th>
            <th>Receiver, id</th>
            <th>email</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
        <% @votes.each do |vote| %>
          <tr>
            <td><%= vote.voter_id.to_s%></td>
            <td><%= if User.find(vote.voter_id) then User.find(vote.voter_id).email end%></td>
            <td><%= vote.votable_id.to_s%></td>
            <td><%= if User.find(vote.votable_id) then User.find(vote.votable_id).email end%></td>
            <td><%= vote.created_at.to_s%></td>
          </tr>
        <% end%>
        </tbody>
      </table>
    </div>
  </div>
  
</div>