<% provide(:title, "The Globe. Create Anywhere.") %>
<% provide(:description, "Hard to hire skilled talent locally? Meet here with world class pros willing to travel or relocate to your location.") %>
<% provide(:image, root_url + "images/paraglide.jpg") %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 project-features">
      <br><br>
      <h2>Contacts.</h2>
      <p>With all inqueries please contact Irina at irina.e.nazarova@gmail.com</p>
    </div>
  </div>
  <div class="row">
    
  </div>
</div>