<% provide(:title, "The Globe. Create Anywhere.") %>
<% provide(:description, "Hard to hire skilled talent locally? Meet here with world class pros willing to travel or relocate to your location.") %>
<% provide(:image, root_url + "images/paraglide.jpg") %>
        
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 about-text">
      <br><Br>
      <h1>About us</h1>
      <h3>What it is.</h3>
      <p>We&nbsp;are building a&nbsp;platform for companies to&nbsp;find and hire top-notch pros from overseas. We&nbsp;serve businesses facing talent shortfalls locally and pros that are willing to&nbsp;travel or&nbsp;relocate to&nbsp;other places. We&nbsp;focus mainly on&nbsp;high level digital pros because of&nbsp;their scarcity, short development cycle and universal applicability of&nbsp;their skills.</p>
      <h3>How it works.</h3>
      <p>The first step is&nbsp;signing up&nbsp;and filling up&nbsp;profile data as&nbsp;usual. Sign-up is&nbsp;open for businesses and invitation-only for pros at&nbsp;this stage. Signed in&nbsp;business gets a&nbsp;feed of&nbsp;suggested candidates with detailed information about track record, skills, interests and priorities, as&nbsp;well as&nbsp;external recommendations. Signed-in pro, in&nbsp;a&nbsp;similar manner, gets a&nbsp;feed of&nbsp;suggested roles in&nbsp;companies. When the business and the pro &laquo;like&raquo; each other, we&nbsp;initiate direct communication between them. Once both sides agree on&nbsp;the hire, the platform is&nbsp;used as&nbsp;financial and legal intermediary. After the contract&rsquo;s completion both the company and the pro review each other thus generating history and earning personal trustworthiness on&nbsp;the platform.</p>
      <h3>Who pays.</h3>
      <p>We&nbsp;only charge&nbsp;10%&nbsp;fee from the&nbsp;business side.</p>
      <h3>Is it another freelance platform?</h3>
      <p>Jobs listed here are not permanent&nbsp;/ indefinite, thus it&nbsp;is&nbsp;a&nbsp;freelance platform in&nbsp;a&nbsp;way. An&nbsp;important distinction is&nbsp;that we&nbsp;are focusing on&nbsp;higher-level roles that require at&nbsp;least some period of&nbsp;presence on&nbsp;site of&nbsp;the business. Our temporary contract may be&nbsp;viewed as&nbsp;a&nbsp;probation period for permanent job, but there are other benefits of&nbsp;such contract: 
      <ol><li>it&nbsp;is&nbsp;easier for a&nbsp;pro to&nbsp;try living and working in&nbsp;different countries/industries rather then decide on&nbsp;permanent relocation;</li><li>t&nbsp;is&nbsp;easier for a&nbsp;company to&nbsp;invite someone on&nbsp;a&nbsp;short contract first, and it&nbsp;is&nbsp;ultimately efficient for irregular tasks and consulting jobs; </li><li>when a&nbsp;pro uses the platform as&nbsp;legal intermediary, she/he doesn&rsquo;t have to&nbsp;obtain permanent work permit in&nbsp;the country and may enter on&nbsp;business visitor type of&nbsp;visa (which is&nbsp;substantially easier to&nbsp;get).</li></ol></p>
    </div>
  </div>
</div>

<div class="container-fluid subscribe-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Subscribe to receive our latest news.</p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="//createanywhe.us12.list-manage.com/subscribe/post?u=bea15e00ae5d4fd8f32002b3b&amp;id=ac20c1484c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group">
              	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email"> <input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>
            	<div id="mce-responses" class="clear">
            		<div class="response" id="mce-error-response" style="display:none"></div>
            		<div class="response" id="mce-success-response" style="display:none"></div>
            	</div>    
            	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bea15e00ae5d4fd8f32002b3b_ac20c1484c" tabindex="-1" value=""></div>
              
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
</div>
      