<% provide(:title, "The Globe. Create Anywhere.") %>
<% provide(:description, "Hard to hire skilled talent locally? Meet here with world class pros willing to travel or relocate to your location.") %>
<% provide(:image, root_url + "images/paraglide.jpg") %>

<div class="site-wrapper site-wrapper-project">
  <div class="site-wrapper-inner">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type%>"><%= message %></div>
    <% end %>	
    <div class="cover-container cover-container-project">
      <div class="inner cover">
        <center><%= simple_format_nbsp("Bring talent from around the globe", "h1") %>
        <%= simple_format_nbsp("Hard to hire skilled talent locally? Meet here with high profile web/ mobile engineers willing to travel to your location.") %>
        <%= link_to "Sign up to invite talent", "#signup", class: "btn btn-lg btn-primary" %></center>
        
      </div>
    </div>
  </div>
</div>
<div class="container container-white">
  <div class="row">
    <div class="col-sm-5">
    </div>
    <div class="col-sm-7">
      <h1>Invite better talent today</h1>
      <%= simple_format_nbsp("Experienced, productive & high profile talent has always been scarce. And if you also seek genuine interest, determination and efficient communication within the team, you need no artificial borders between you and your perfect match. <span class='text-primary'>We are here to introduce you to inspired and experienced pros from around the world, willing to travel to your location and build great products with you.</span>") %>
      <%= simple_format_nbsp("Rockstar web and mobile engineers, architects and other high profile pros today seek to engage in inpiring projects around the world, explore cultures and teams, choose where in the world to work next and where to stay longer. We build the platform to empower them.") %>
      <%= simple_format_nbsp("Also we are set to relax the key obstacle on the way of talent mobility: work permits. We legally support contracts with duration up to 6 months. With its pros and cons, temporary contracts are efficient, flexible, and expose you to a vast amount of top-notch talent, otherwise unaccessible.") %>
      <%= link_to "Become a part of The Globe", "#signup", class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>
<div class="container-fluid signup-bluegreen-container">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-12 project-features">
          <%= simple_format_nbsp("Unlock the new source of growth","h2") %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 project-features"> 
        <%= simple_format_nbsp("Get your tasks done by global pros", "h3") %>
        <p><%= simple_format_nbsp("Need to build an MVP, or an app, set up analytics or architecture? Bring in a high profile pro from abroad. Meet here with top-notch pros willing to travel or relocate to your place, engage them in your inspiring project and get your tasks done.") %></p>
        </div>
        <div class="col-md-4 project-features">
        <%= simple_format_nbsp("We handle visas and work permits", "h3") %>
        <p><%= simple_format_nbsp("We&nbsp;function as&nbsp;a&nbsp;global consulting agency with pros traveling to&nbsp;your location on&nbsp;behalf of&nbsp;our&nbsp;company, which in&nbsp;most cases releases you&nbsp;from visa sponsorship need.") %></p>
        </div>
        <div class="col-md-4 project-features">
        <%= simple_format_nbsp("Open your doors to global tech community", "h3") %>
        <p><%= simple_format_nbsp("Enrich your team's expertise and&nbsp;culture by&nbsp;mixing up&nbsp;with talent from around the&nbsp;globe. Bring in people inspired to contribute to your goal, to experience working with your team and in your industry. Meet and befriend passionate pros and great people.") %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group" id="user_form"> 
  <input type="text" name="prevent_autofill" id="prevent_autofill" value="" style="display:none;" />
  <input type="password" name="password_fake" id="password_fake" value="" style="display:none;" />

  <a name="signup"></a>
  <%= form_for @user, url: 'business#signup' do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Sign up in only 2 steps</h1>
          <h3>1. Choose skills you&nbsp;need</h3>
          <p>You can change it&nbsp;later on&nbsp;your personal page.</p>
          <ul class="list-inline">
            <% $globalvar_skills.each do |skill|%>
              <% if @user.skills && @user.skills[skill] == "on" then checkline="checked" else checkline =""  end%>
              <li class="project-skills-edit">
                <input class="form-control" type="checkbox" name="user[skills][<%=skill%>]" id="<%=skill%>" <%=checkline%> >
                <label for="<%=skill%>"><%=skill%></label>
              </li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-info">
              <%= message %>
            </div>
          <% end %>
          <h3>2. Fill in contact details</h3>
          <p>We will contact your shortly to discuss the details.</p>
          <%= f.hidden_field :utype, value: 1 %>
          
          <div class="form-group">
            <%= f.text_field :name, placeholder: "Company name", class: "form-control", autocomplete: "false", autofill: "false"%>
          </div>
          <% if @user.errors[:name].any? %>
            <div class="alert alert-warning" role="alert">
              <%= "Company name is needed here." %>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.password_field :password, placeholder: "Create a password (longer than 5 chars)", class: "form-control", autocomplete: "false", autofill: "false" %>
          </div>
          <%if @user.errors[:password].any?%>
            <div class="alert alert-warning">
              <%= @user.errors[:password].first.to_s %>
            </div>
          <%end%>
          
          <div class="form-group">
            <%= f.text_field :firstname, placeholder: "Your name", class: "form-control", autocomplete: "false", autofill: "false" %>
          </div>
          <% if @user.errors[:firstname].any? %>
            <div class="alert alert-warning" role="alert">
              <%= @user.errors[:firstname].first %>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.email_field :email, placeholder: "Your work email", class: "form-control" %>
          </div>
          <% if @user.errors[:email].any? %>
            <div class="alert alert-warning" role="alert">
              <%= @user.errors[:email].first %>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.url_field :website, placeholder: "Company website", class: "form-control" %>
          </div>
          <%= f.submit "Submit", class: "btn btn-lg btn-success" %>
        </div>
      </div>
    </div> 
  <%end%>
</div>


<div class="container container-white no-background">
  <div class="row">
    <div class="col-md-7">
      <h1><small>How it works</small><br>
        Recruit global pros</h1>
      <%= simple_format_nbsp("The Globe allows you to search and contact high profile web/mobile developers and other digital pros. We pre-screen pros and projects and serve as a guarantor for both sides.") %>
      <%= simple_format_nbsp("") %>
      <%= simple_format_nbsp("As the employer you only pay the platform 10% of the contract value for the successful collaboration.") %>
    </div>
    <div class="col-md-5">
      <br><br>
      <%= simple_format_nbsp("The process of engaging a pro", "h4") %>
      <ul class="list-inline process-items">
        <li>1. Review the pro's profile</li>
        <li>2. Invite to chat</li>
        <li>3. Interview over skype</li>
        <li>4. Extend an offer</li>
        <li>5. Collaborate up to 6M in your office</li>
        <li>6. Switch to long-term, continue remotely or finish</li>
        <li>7. Review each other</li>
      </ul>
      
    </div>
    <div class="col-md-12">
      
      <%= link_to "Join The Globe", "#signup", class: "btn btn-lg btn-primary" %>
    </div>
    
  </div>
</div>