<% provide(:title, "The Globe. Create Anywhere.") %>
<% provide(:description, "Are you a world class pro? Work non-remotely for inspiring projects around the globe, apply your skills, gain expertise and turn your professional life into adventure.") %>
<% provide(:image, root_url + "images/paraglide.jpg") %>


<div class="site-wrapper site-wrapper-project">
  <div class="flash-alerts">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type%>"><%= message %></div>
    <% end %>	
  </div>
  <div class="site-wrapper-inner">
    <div class="cover-container cover-container-project">
      <div class="inner cover">
        <center><h1 class="cover-heading">Are&nbsp;you a&nbsp;world class&nbsp;pro?</h1>
        <p>Work non-remotely for inspiring projects around the&nbsp;globe, apply your skills, gain expertise and turn your professional life into adventure.</p>
          <%= link_to "Sign up to start the journey", "#signup", class: "btn btn-lg btn-primary" %></center>
      </div>
    </div>
  </div>
</div>

<div class="container container-white">
  <div class="row">
    <div class="col-sm-5">
    </div>
    <div class="col-sm-7">
      <h1>Set yourself free</h1>
      <%= simple_format_nbsp("") %>
      <%= link_to "Become a part of the Globe", "#signup", class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>


<div class="container-fluid signup-bluegreen-container">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-12 project-features">
          <h2>Create everywhere you go</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 project-features"> 
        <h3>Contribute to&nbsp;inspiring projects</h3>
        <p>Meet here awesome companies building great products that want you&nbsp;to&nbsp;come over and&nbsp;bring your skills, passion and&nbsp;experience. Travel to&nbsp;joing the&nbsp;team and&nbsp;work for&nbsp;several months or&nbsp;decide to&nbsp;continue on&nbsp;indefinite grounds. Anyway you&nbsp;decide what, when and&nbsp;where to&nbsp;create next.</p>
        </div>
        <div class="col-md-4 project-features">
        <h3>Do&nbsp;not&nbsp;worry about visas</h3>
    <p>We&nbsp;function as&nbsp;a&nbsp;global consulting agency with pros traveling to&nbsp;your location on&nbsp;behalf of&nbsp;our&nbsp;company, which in&nbsp;most cases releases you&nbsp;from visa sponsorship for&nbsp;the&nbsp;first several months of&nbsp;tenure.</p>
        </div>
        <div class="col-md-4 project-features">
        <h3>Go global</h3>
    <p>Enrich your knowledge, experience and culture by working inside great projects in different places and bonding with the team, clients and people around.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group" id="user_form">      
  <a name="signup"></a>
  <%= form_for @user, url: 'prosignup#signup' do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h3>1. Choose skills you&nbsp;have <br><small>You can change it&nbsp;later on&nbsp;your personal page.</small></h3>
          <ul class="list-inline">
            <% $globalvar_skills.each do |skill|%>
              <% if @user.skills && @user.skills!=[] && @user.skills[skill] == "on" then checkline="checked" else checkline =""  end%>
              <li class="project-skills-edit">
                <input class="form-control" type="checkbox" name="user[skills][<%=skill%>]" id="<%=skill%>" <%=checkline%> >
                <label for="<%=skill%>"><%=skill%></label>
              </li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 project-signup">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-info">
              <%= message %>
            </div>
          <% end %>
          <h3>2. Sign up<br><small></small></h3>
          <%= f.hidden_field :utype, value: 0 %>
          <div class="form-group project-signup-form">
            <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
          </div>
          <% if @user.errors[:name].any? %>
            <div class="alert alert-warning" role="alert">
              <%= @user.errors[:name].first %>
            </div>
          <% end %>
          <div class="form-group project-signup-form">
            <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
          </div>
          <% if @user.errors[:email].any? %>
            <div class="alert alert-warning" role="alert">
              <%= @user.errors[:email].first %>
            </div>
          <% end %>
          <div class="form-group project-signup-form">
            <%= f.password_field :password, placeholder: "Create a password (longer than 5 chars)", class: "form-control" %>
          </div>
          <%if @user.errors[:password].any?%>
            <div class="alert alert-warning">
              <%= @user.errors[:password].first.to_s %>
            </div>
          <%end%>
          <%= f.submit "Submit", class: "btn btn-success" %>
        </div>
      </div>
    </div> 
  <%end%>
</div>


<div class="container container-white no-background">
  <div class="row">
    <div class="col-md-7">
      <h1><small>How it works</small><br>
        Engage in inspiring projects</h1>
      <%= simple_format_nbsp("The Globe allows you to search and contact ambitious projects around the world. We pre-screen pros and projects and serve as a guarantor for both sides.") %>
    </div>
    <div class="col-md-5">
      <br><br>
      <%= simple_format_nbsp("The process of getting a job", "h4") %>
      <ul class="list-inline process-items">
        <li>1. Review the project's profile</li>
        <li>2. Apply for an interview</li>
        <li>3. Have an interview over skype</li>
        <li>4. Receive an offer</li>
        <li>5. Travel to the destination</li>
        <li>6. Collaborate up to 6M</li>
        <li>7. Review each other</li>
      </ul>
      
    </div>
    <div class="col-md-12">
      
      <%= link_to "Join The Globe", "#signup", class: "btn btn-lg btn-primary" %>
    </div>
    
  </div>
</div>