<% provide(:title, "Log in The Globe - Create Anywhere.") %>
<% provide(:image, root_url + "images/paraglide.jpg") %>
<br><Br>
<h1>Log in</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(:session, url: login_path, id: "login_form") do |f| %>

      <%= f.email_field :email, placeholder: "Email", class: 'form-control login-form-control' %>
      

      <%= f.password_field :password, placeholder: "Password", class: 'form-control login-form-control' %>
      
      <%= link_to "(forgot password)", new_password_reset_path %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <b><%= link_to "Sign up", signup_path %></b></p>
  </div>
</div>