<% provide(:title, "Resend confirmation email. The Globe - Create Anywhere.") %>
<% provide(:image, root_url + "images/paraglide.jpg") %>
<br><Br>
<h1>Resend confirmation email?</h1>
<div class="row">
  
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :email %> 
        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), autofocus: true, placeholder: "Email", class: 'form-control login-form-control' %>
      </div>
    <br>
      <div class="actions">
        <%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
        <%= link_to "Log in", new_session_path(resource_name), class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>