<% provide(:title, 'Reset password') %>
<div class="flash-alerts">
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type%>"><%= message %></div>
<% end %>	
</div>
<h1>Reset password</h1>
<br><br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>

      <%= hidden_field_tag :email, @user.email %>
      <%= f.password_field :password, placeholder: "New password", class: 'form-control login-form-control' %>
      <%if @user.errors[:password].any?%>
        <div class="alert alert-danger"><%= @user.errors[:password].first %></div>
      <%end%>
      <%= f.password_field :password_confirmation, placeholder: "Repeat new password", class: 'form-control login-form-control' %>
      <%if @user.errors[:password_confirmation].any?%>
        <div class="alert alert-danger"><%= @user.errors[:password_confirmation].first %></div>
      <%end%>

      <%= f.submit "Update password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>