<% provide(:title, "Forgot password") %>
<div class="flash-alerts">
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type%>"><%= message %></div>
<% end %>	
</div>
<h1>Forgot password</h1>
<br><br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.email_field :email, placeholder: "Email", class: 'form-control login-form-control' %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>