<% provide(:title, "The Globe. Create Anywhere.") %>
<% provide(:description, "Hard to hire skilled talent locally? Meet here with world class pros willing to travel or relocate to your location.") %>
<% provide(:image, root_url + "images/paraglide.jpg") %>
<a name="signup"></a>
<div class="site-wrapper site-wrapper-project">
  <div class="site-wrapper-inner">
    <div class="cover-container cover-container-project">
      <div class="inner cover">
        <center><%= simple_format_nbsp("Bring talent from around the globe", "h1") %>
        <%= simple_format_nbsp("Hard to hire skilled talent locally? Meet here with high profile web/ mobile engineers willing to travel to your location.") %>
        
        <div class="row">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type%>"><%= message %></div>
          <% end %>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "new_bus" }) do |f| %>
          <div class="col-sm-7 col-md-5 col-md-push-2">
            <%= devise_error_messages! %>
            <%= f.hidden_field :utype, value: 1 %>
            
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
            </div>
          
            <div class="form-group">
              <%= f.password_field :password, placeholder: "Password", class: "form-control"%>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation, placeholder: "Repeat password", class: "form-control" %>
            </div>
          </div>
          <div class="col-sm-5 col-md-3 col-md-push-2 text-left">
            <%= f.submit "Sign up", class: "btn btn-lg btn-success", id: "signup_business" %> 
          </div>
          <%end%>
        </div>
        
        </center>
        
      </div>
    </div>
  </div>
</div>



<div class="container container-white">
  <div class="row">
    <div class="col-sm-5">
      <div class="skill-cloud">
        <h1> </h1>
        <h2>Available skills</h2>
        <ul class="list-inline">
          <% $globalvar_skills.each do |skill|%>
            <li><%=skill%></li>
          <%end%>
        </ul>
      </div>
    </div>
    <div class="col-sm-7">
      <h1>Invite better talent today</h1>
      <%= simple_format_nbsp("<b>How about bringing in a skilled Rails, Python or React pro for $4k monthly?</b>") %>
      <%= simple_format_nbsp("Experienced, productive & high profile talent has always been scarce. <span class='text-primary'>We are here to introduce you to inspired and experienced pros from around the world, willing to travel to your location and build great products with you.</span>") %>
      <%= simple_format_nbsp("Rockstar web and mobile engineers, architects, UI/UX designers, analysts and other high profile pros today seek to engage in inpiring projects around the world, explore cultures and teams, choose where in the world to work next and where to stay longer. We build the platform to empower them.") %>
      <%= simple_format_nbsp("Also we are set to help you with the key barrier on the way of talent mobility today: work permits. We legally support contracts with duration up to 6 months. Upon completion, you may extend a permanent offer, continue collaborating remotely or engage another pro.") %>
      <%= link_to "Become a part of The Globe", "#signup", class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>
<div class="container-fluid signup-bluegreen-container">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-12 project-features">
          <%= simple_format_nbsp("Unlock the new source of growth","h2") %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 project-features"> 
        <%= simple_format_nbsp("Get your tasks done by global pros", "h3") %>
        <p><%= simple_format_nbsp("Need to build an MVP, or an app, set up analytics or architecture? Bring in a high profile pro from abroad. Meet here with top-notch pros willing to travel or relocate to your place, engage them in your inspiring project and get your tasks done.") %></p>
        </div>
        <div class="col-md-4 project-features">
        <%= simple_format_nbsp("We help with visas and work permits", "h3") %>
        <p><%= simple_format_nbsp("We&nbsp;function as&nbsp;a&nbsp;global consulting agency with pros traveling to&nbsp;your location on&nbsp;behalf of&nbsp;our&nbsp;company, which may release you&nbsp;from visa sponsorship.") %></p>
        </div>
        <div class="col-md-4 project-features">
        <%= simple_format_nbsp("Open your doors to global tech community", "h3") %>
        <p><%= simple_format_nbsp("Enrich your team's expertise and&nbsp;culture by&nbsp;mixing up&nbsp;with talent from around the&nbsp;globe. Bring in people inspired to contribute to your goal, to experience working with your team and in your industry. Meet and befriend passionate pros and great people.") %></p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container container-white no-background">
  <div class="row">
    <div class="col-md-7">
      <h1><small>How it works</small><br>
        Recruit global pros</h1>
      <%= simple_format_nbsp("The Globe allows you to search and contact high profile web/mobile developers and other digital pros. We pre-screen pros and projects and serve as a guarantor for both sides.") %>
      <%= simple_format_nbsp("") %>
      <%= simple_format_nbsp("As the employer you only pay the platform 10% of the contract value for the successful collaboration.") %>
    </div>
    <div class="col-md-5">
      <br><br>
      <%= simple_format_nbsp("The process of engaging a pro", "h4") %>
      <ul class="list-inline process-items">
        <li>1. Review the pro's profile</li>
        <li>2. Invite to chat</li>
        <li>3. Interview over skype</li>
        <li>4. Extend an offer</li>
        <li>5. Collaborate short-term in your location</li>
        <li>6. Review each other</li>
        <li>7. Switch to permanent, continue remotely or engage another pro</li>
      </ul>
      
    </div>
    <div class="col-md-12">
      
      <%= link_to "Join The Globe", "#signup", class: "btn btn-lg btn-primary" %>
    </div>
    
  </div>
</div>













