<% provide(:title, "The Globe. Create Anywhere.") %>
<% provide(:description, "Are you a world class pro? Work non-remotely for inspiring projects around the globe, apply your skills, gain expertise and turn your professional life into adventure.") %>
<% provide(:image, root_url + "images/paraglide.jpg") %>

  <a name="signup"></a>
<div class="site-wrapper site-wrapper-project">
  <div class="site-wrapper-inner">
    <div class="cover-container cover-container-project">
      <div class="inner cover">
        <center><h1 class="cover-heading">Are&nbsp;you a&nbsp;world class&nbsp;pro?</h1>
        <p>Travel to work for inspiring projects around the&nbsp;globe, gain expertise and turn your professional life into adventure.</p>
        
        
        <div class="row">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type%>"><%= message %></div>
          <% end %>	
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "new_pro" }) do |f| %>
          <div class="col-sm-7 col-md-5 col-md-push-2">
            <%= devise_error_messages! %>
            <%= f.hidden_field :utype, value: 0 %>
            
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
            </div>
          
            <div class="form-group">
              <%= f.password_field :password, placeholder: "Password", class: "form-control"%>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation, placeholder: "Repeat password", class: "form-control" %>
            </div>
          </div>
          <div class="col-sm-5 col-md-3 col-md-push-2 text-left">
            <%= f.submit "Sign up", class: "btn btn-lg btn-success", id: "signup_pro" %> 
          </div>
          <%end%>
        </div>
        </center>
      </div>
    </div>
  </div>
</div>

<div class="container container-white">
  <div class="row">
    <div class="col-sm-5">
      <div class="skill-cloud">
        <h1> </h1>
        <h2>Are you a pro in one of these?</h2>
        <ul class="list-inline">
          <% $globalvar_skills.each do |skill|%>
            <li><%=skill%></li>
          <%end%>
        </ul>
      </div>
    </div>
    <div class="col-sm-7">
      <h1>Set yourself free</h1>
      <%= simple_format_nbsp("") %>
      <%= simple_format_nbsp("<b>Would you like to find a job overseas?</b>") %>
      <%= simple_format_nbsp("We are here to empower high skilled professionals with the freedom to engage in projects across the globe. Meet here with inspiring projects, get an offer from them and travel to their location to collaborate up to 6 months. Next, get a permanent job offer from the company, or choose a new experience to dive into! ") %>
      <%= simple_format_nbsp("Sounds cool? Sign up and let the journey begin!") %>
      <%= link_to "Become a part of the Globe", "#signup", class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>


<div class="container-fluid signup-bluegreen-container">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-12 project-features">
          <h2>Create everywhere you go</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 project-features"> 
        <h3>Contribute to&nbsp;inspiring projects</h3>
        <p>Meet here awesome companies building great products that want you&nbsp;to&nbsp;come over and&nbsp;bring your skills, passion and&nbsp;experience. Travel to&nbsp;joing the&nbsp;team and&nbsp;work for&nbsp;several months or&nbsp;decide to&nbsp;continue on&nbsp;indefinite grounds. Anyway you&nbsp;decide what, when and&nbsp;where to&nbsp;create next.</p>
        </div>
        <div class="col-md-4 project-features">
        <h3>Do&nbsp;not&nbsp;worry about visas</h3>
    <p>We&nbsp;function as&nbsp;a&nbsp;global consulting agency with pros traveling to&nbsp;your location on&nbsp;behalf of&nbsp;our&nbsp;company, which in&nbsp;most cases releases you&nbsp;from visa sponsorship for&nbsp;the&nbsp;first several months of&nbsp;tenure.</p>
        </div>
        <div class="col-md-4 project-features">
        <h3>Go global</h3>
    <p>Enrich your knowledge, experience and culture by working inside great projects in different places and bonding with the team, clients and people around.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container container-white no-background">
  <div class="row">
    <div class="col-md-7">
      <h1><small>How it works</small><br>
        Engage in inspiring projects</h1>
      <%= simple_format_nbsp("The Globe allows you to search and contact ambitious projects around the world. We pre-screen pros and projects and serve as a guarantor for both sides.") %>
    </div>
    <div class="col-md-5">
      <br><br>
      <%= simple_format_nbsp("The process of getting a job", "h4") %>
      <ul class="list-inline process-items">
        <li>1. Review the project's profile</li>
        <li>2. Apply for an interview</li>
        <li>3. Have an interview over skype</li>
        <li>4. Receive an offer</li>
        <li>5. Travel and collaborate up to 6M</li>
        <li>6. Review each other</li>
        <li>7. Switch to long-term, continue remotely or pick up a new opportunity</li>
      </ul>
      
    </div>
    <div class="col-md-12">
      
      <%= link_to "Join The Globe", "#signup", class: "btn btn-lg btn-primary" %>
    </div>
    
  </div>
</div>