Hi <%= @user.name %>,

Welcome to Globe! Click on the link below to activate your account:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>

Stay tuned, we'll be up soon!

( Globe )

<%= root_url %>