<div style="background-color:#f2f2f2">
	<center>
  	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background-color:#f2f2f2">
    	<tbody><tr>
      	<td align="center" valign="top" style="padding:40px 20px">
        	<table border="0" cellpadding="0" cellspacing="0" style="width:600px">
          	<tbody>
            	<tr>
              	<td align="center" valign="top">
                	<a href="http://www.theglobeteam.com?source=activation_email"><img src="http://www.theglobeteam.com/images/logo.png" alt="The Globe. Create Anywhere" width="100px"></a>
                </td>
              </tr>
              <tr>
                <td align="center" valign="top" style="padding-top:30px;padding-bottom:30px">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#ffffff;border-collapse:separate!important;border-radius:4px">
                      <tbody><tr>
                          <td align="center" valign="top" style="color:#606060;font-family:Helvetica,Arial,sans-serif;font-size:15px;line-height:150%;padding-top:40px;padding-right:40px;padding-bottom:30px;padding-left:40px;text-align:center">
                              <h1 style="color:#606060!important;font-family:Helvetica,Arial,sans-serif;font-size:40px;font-weight:bold;letter-spacing:-1px;line-height:115%;margin:0;padding:0;text-align:center">Please confirm your email, <%= @user.name %></h1>
                              <br>
                              <p>Click the button below to activate your profile at The Globe.</p>
                          </td>
                      </tr>
                      <tr>
                        <td align="center" valign="middle" style="padding-right:40px;padding-bottom:40px;padding-left:40px">
                          <table border="0" cellpadding="0" cellspacing="0" style="background-color:#6dc6dd;border-collapse:separate!important;border-radius:3px">
                            <tbody><tr>
                              <td align="center" valign="middle" style="color:#ffffff;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:bold;line-height:100%;padding-top:18px;padding-right:15px;padding-bottom:15px;padding-left:15px">
                                <%= link_to "Activate Account", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
                              </td>
                            </tr></tbody>
                          </table>
                        </td>
                      </tr></tbody>
                    </table>
                  </td>
                </tr>
                <tr>
              	<td align="center" valign="top">
                 	<table border="0" cellpadding="0" cellspacing="0" width="100%">
                  	<tbody><tr>
                    	<td align="center" valign="top" style="color:#606060;font-family:Helvetica,Arial,sans-serif;font-size:13px;line-height:125%">
                        	&copy; 2016 <a href="http://theglobeteam.com?source=activation_email">The Globe. Create Anywhere</a>
                      </td>
                    </tr></tbody>
                  </table>
                  </td>
              </tr>
          </tbody></table>
        </td>
      </tr>
    </tbody></table>
  </center>
</div>
