<div style="background-color:#f2f2f2">
	<center>
  	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background-color:#f2f2f2">
    	<tbody><tr>
      	<td align="center" valign="top" style="padding:40px 20px">
        	<table border="0" cellpadding="0" cellspacing="0" style="width:600px">
          	<tbody>
            	<tr>
              	<td align="center" valign="top">
          	      <%= link_to root_url do %>
    							  <%= image_tag('logo.png', width:"100px") %>
    							<% end %>
    						</td>
              </tr>
              <tr>
                <td align="center" valign="top" style="padding-top:30px;padding-bottom:30px">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#ffffff;border-collapse:separate!important;border-radius:4px">
                      <tbody><tr>
                          <td align="center" valign="top" style="color:#606060;font-family:Helvetica,Arial,sans-serif;font-size:15px;line-height:150%;padding-top:40px;padding-right:40px;padding-bottom:30px;padding-left:40px;text-align:center">
                              <h1 style="color:#606060!important;font-family:Helvetica,Arial,sans-serif;font-size:40px;font-weight:bold;letter-spacing:-1px;line-height:115%;margin:0;padding:0;text-align:center">Mutual interest expressed!</h1>
                              <br>
                              <%= link_to "The business", @business %> (<%= @business.email%>) and <%= link_to "the pro", @pro %> (<%= @pro.email%>) mutually liked each ther.
                          </td>
                      </tr>
                      <tr>
                        <td align="center" valign="middle" style="padding-right:40px;padding-bottom:40px;padding-left:40px">
                          <table border="0" cellpadding="0" cellspacing="0" style="background-color:#6dc6dd;border-collapse:separate!important;border-radius:3px">
                            <tbody><tr>
                              <td align="center" valign="middle" style="color:#ffffff;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:bold;line-height:100%;padding-top:18px;padding-right:15px;padding-bottom:15px;padding-left:15px">
                                
                              </td>
                            </tr></tbody>
                          </table>
                        </td>
                      </tr></tbody>
                    </table>
                  </td>
                </tr>
                <tr>
              	<td align="center" valign="top">
                 	<table border="0" cellpadding="0" cellspacing="0" width="100%">
                  	<tbody><tr>
                    	<td align="center" valign="top" style="color:#606060;font-family:Helvetica,Arial,sans-serif;font-size:13px;line-height:125%">
                        	&copy; 2016 <%= link_to "The Globe. Create Anywhere", root_url %>
                      </td>
                    </tr></tbody>
                  </table>
                  </td>
              </tr>
          </tbody></table>
        </td>
      </tr>
    </tbody></table>
  </center>
</div>
