The business and the pro mutually liked each other.

<%= @business.firstname%> (<%= @business.email%>) at <%= @business.name%>: <%= user_url @business%> 
<%= @pro.name%> (<%= @pro.email%>): <%= user_url @pro%> 

Stay tuned,
The Globe. Create anywhere

<%= root_url %>