
  <div style="background-color:#f2f2f2"><center>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background-color:#f2f2f2"><tbody>
      <tr>
      <td align="center" valign="top" style="padding:20px 20px">
        <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px"><tbody>
          <tr>
            <td align="center" valign="top">
              <%= link_to root_url do %>
							  <%= image_tag('logo300.png', width:"150px") %>
							<% end %>
    				</td>
          </tr>
          <tr>
            <td align="center" valign="top" style="padding-top:30px;padding-bottom:30px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#ffffff;border-collapse:separate!important;border-radius:4px"><tbody><tr>
              <td align="center" valign="top" style="color:#606060;font-family:Helvetica,Arial,sans-serif;font-size:15px;line-height:150%;padding-top:40px;padding-right:40px;padding-bottom:30px;padding-left:40px;text-align:center">
                <h1 style="color:#606060!important;font-family:Helvetica,Arial,sans-serif;font-size:40px;font-weight:bold;letter-spacing:-1px;line-height:115%;margin:0;padding:0;text-align:center"><%= @title%></h1>
                <br>
                <h2>Dear <%= @user.name%>,</h2>
                <br>
                <div style="text-align:left;">
                  <p>To reset your password for The Globe click on the link below:</p>
                  <p style="background-color:#3fa0dd; padding:10px 5px; margin:5px; border-radius:2px; color:#fff; font-size:18px;"><%= link_to "Reset password", edit_password_reset_url(@user.reset_token, email: @user.email), {style: "color:#fff; text-decoration:none;"} %></p>
                    <p>This link will expire in two hours.</p>

                    <p>
                    If you did not request your password to be reset, please ignore this email and
                    your password will stay as it is.
                    </p>
                  <br>
                  <p><small>See you around, <br>
                  The Globe<br>
                  Palo Alto, California<br></small></p>
                  
                </div>
                </td>
                </tr></tbody></table>
              </td>
            </tr>
            <tr>
              <td align="center" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr>
                <td align="center" valign="top" style="color:#606060;font-family:Helvetica,Arial,sans-serif;font-size:13px;line-height:125%">&copy; 2016 <%=link_to "The Globe. Create Anywhere", root_url %>
                </td>
              </tr></tbody></table>
            </td>
          </tr></tbody>
        </table>
        </td>
    </tr></tbody></table></center>
  </div>
