<br><br>
<ul class="list-inline">
  
  <%- if controller_name != 'sessions' %>
    <li><%= link_to "Log in", new_session_path(resource_name) %></li>
  <% end -%>
  
  
  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <li><%= link_to "Resend confirmation email?", new_confirmation_path(resource_name) %></li>
  <% end -%>
  
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <li><%= link_to "Reset your password?", new_password_path(resource_name) %></li>
  <% end -%>
  
  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <li><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %></li>
  <% end -%>
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <li><%= link_to "Sign up to source talent", business_path %></li>
    <li><%= link_to "Sign up to find jobs abroad", prosignup_path %></li>
  <% end -%>
  

</ul>