<!--<div class="login_devises">
  <br>
  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%- btntype="" %>
      <%if provider.to_s == "facebook" then btntype = "btn-facebook" elsif provider.to_s == "linkedin" then btntype ="btn-linkedin" end%>
      <%= link_to ("<span class='fa'></span> Log in with <b>#{OmniAuth::Utils.camelize(provider)}</b>").html_safe, omniauth_authorize_path(resource_name, provider), class:"btn btn-lg btn-success btn-social #{btntype}"%>
    <% end -%>
  <% end -%>
</div>-->
