
<!-- local vars: usr-->
  <div class="row">
    <div class="col-sm-12 text-left main-description">
      <h4>Mutual interest</h4>
      <%if usr.find_voted_items.size>0 then%>
        <table class="table table-striped table-hover ">
          <tbody>
          <% usr.find_voted_items.each do |liked|%>
            <% if liked.voted_for? usr then %>
            <tr>
              <td><%= link_to liked.name.to_s, liked %></td>
              <td><%= link_to 'View profile', liked %></td>
              <td><%= if liked.resume && (liked.resume.length>0) then link_to 'Resume', liked.resume end %></td>
              <td><%if usr.offers then%>
                    <% if usr.offers.find_by(rec: liked.id) then %>
                      <% usr.offers.where(rec: liked.id).each do |offer| %>
                        <p>
                          <b>Offer made on <%= offer.created_at.to_s%></b><br>
                          <%if offer.status==1 then%><b>Accepted on <%= offer.updated_at.to_s%></b><br><%end%>
                          <u>Role: <%=offer.role%></u>, $<%=offer.value.to_s%><br>
                          <%=offer.description.html_safe%></p><Br>
                      <%end%>
                    <%end%>
                  <%end%>
                  <%= link_to "Make a new offer", offer_user_path+"?rec=" + liked.id.to_s, class: 'btn btn-sm btn-primary'%>
                </td>
            </tr>
            <%end%>
          <%end%>
          </tbody>
        </table>
      <%end%>
      
      <Br><br>
      <h4>Incoming applications</h4>
      <%i=0%>
      <%if usr.get_likes.size>0 then%>
        <table class="table table-striped table-hover ">
          <tbody>
          <% usr.get_likes.each do |like|%>
            <%voter = User.find(like[:voter_id])%>
            <%if voter && !(usr.voted_for? voter) then %>
              <%i=i+1%>
              <tr>
                <td><%= link_to voter.name.to_s, voter %></td>
                <td><%= link_to 'View profile', voter %></td>
                <td><%= if voter.resume && (voter.resume.length>0) then link_to 'Resume', voter.resume end %></td>
                <td><%= link_to "Invite to chat", like_user_path(voter), method: :put, class: "btn btn-sm btn-primary" %></td>
              </tr>
            <%end%>
          <%end%>
          </tbody>
        </table>
      <%end%>
      <%if i==0%>
      <p>No incoming applications awaiting response. <%= link_to "Fill in your profile", edit_user_path(current_user) %> to grab more attention and <%= link_to "search pros", feed_path %> and invite someone yourself.</p>
      <%end%>
      <Br><br>
      <h4>Sent invites</h4>
      <%if usr.find_voted_items.size>0 %>
        <table class="table table-striped table-hover ">
          <tbody>
          <% usr.find_voted_items.each do |liked|%>
            <% if !liked.voted_for? usr then %>
              <tr>
                <td><%= link_to liked.name.to_s, liked %></td>
                <td><%= link_to 'View profile', liked %></td>
                <td><%= if liked.resume && (liked.resume.length>0) then link_to 'Resume', liked.resume end %></td>
                <td><!--Cancel invite--></td>
              </tr>
            <%end%>
          <%end%>
          </tbody>
        </table>
      <%else%>
      <p>No invites awaiting responses. Try <%= link_to "browsing pros", feed_path %> and invite someone to chat.</p>
      <%end%>
    </div>
  </div>
      
  