<!-- local vars: usr, _admin-->
  <div class="row">
    <div class="col-sm-9 text-left main-description">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <%=link_to usr do %><% if (usr.picture && !usr.picture.empty?) %><img src="<%=usr.picture%>" class="img-responsive" title="<%=usr.name%> @ The Globe." alt="<%=usr.name%> @ The Globe."><%else %><img src="<%=root_url + 'images/paraglide.jpg'%>" class="img-responsive"><%end%><%end%>
          <br>
          <%= render "likes", l_user: usr %>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <%if usr.values then%>
          <h2>About us</h2>
            <p><%= simple_format(usr.values) %></p>
          <%end%>
          <%if usr.experience then%>
          <h2>Open Roles</h2>
            <p><%= simple_format(usr.experience) %></p>
          <%end%>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-left profile-right-panel">
      
      <ul class="list-unstyled">
        <p>Check out our website</p>
        <%if usr.website&&!usr.website.empty?%><li><%= link_to usr.website.to_s, usr.website, target: '_blank'%></li><%end%>
        
        <%if usr.linkedin_link%>
          <p>Founder's Linkedin profile</p>
          <li><%= link_to usr.linkedin_link.to_s, usr.linkedin_link, target: '_blank'%></li><%end%>
        <%if usr.location%>
          <p>Our location</p>
          <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= usr.location%></li><%end%>
      </ul>
      <%if _admin then %>
        status: <%= usr.status.to_s %><br>
        <%=link_to "Mark interviewed", user_mark_interviewed_url(usr.id), method: "post"%><br>
        <%=link_to "Show", user_url(usr) %><br>
        <%=link_to "Edit", edit_user_admin_url(usr.id) %><br>
        <%= link_to('Destroy', usr, method: "delete", data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %>
      <%end%>
    </div>
  
  </div>