          
          <!-- If logged in and not viewing her own page, show like button-->
          <%if current_user&&(current_user.id != l_user.id) then %>
            <% if current_user.voted_for? l_user then %>
              <%if current_user.utype == 0 && l_user.utype == 1 then %>
                <a class="btn btn-primary disabled" rel="nofollow">Application sent</a>
              <%elsif current_user.utype == 1 && l_user.utype == 0 then%>
                <a class="btn btn-primary disabled" rel="nofollow">Invitation sent</a>
              <%else%>
              <%end%>
            <% else%>
              <%if current_user.utype == 0 && l_user.utype == 1 then%>
                <%= link_to "Apply", like_user_path(l_user), method: :put, class: "btn btn-primary" %>
              <%elsif current_user.utype == 1 && l_user.utype == 0 then%>
                <%= link_to "Invite to chat", like_user_path(l_user), method: :put, class: "btn btn-primary" %>
              <%else%>
                <!-- same type, do nothing --->
              <%end %>
              <%end%>
          <% elsif !current_user%>
            <p><%= link_to "Log in", new_user_session_path%> to interact with <%= l_user.name %>.</p>
          <% end%>
          
