
          <!-- Show likes list and count-->
            <div class="panel panel-success">
              <div class="panel-heading">Interaction history</div>
              <div class="panel-body">
                <p><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Users applied:</p>
              <%if l_user.get_likes.size>0%>
                <ul class="list-unstyled">
                <% l_user.get_likes.each do |like|%>
                  <%voter = User.find(like[:voter_id])%>
                  <%if voter then %>
                   <li><%= link_to voter.name.to_s, voter %> <%= if l_user.voted_for? voter then "(mutual)" end %></li>
                  <%end%>
                <%end%>
                </ul>
              <%end%><hr></hr>
              <p><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> User invited:</p>
              <%if l_user.find_voted_items.size>0 %>
                <ul class="list-unstyled">
                  <% l_user.find_voted_items.each do |liked|%>
                   <li><%= link_to liked.name.to_s, liked %> <%= if liked.voted_for? l_user then "(mutual)" end %></li>
                  <%end%>
                </ul>
              <%end%>
              </div>
            </div>
