<!-- local vars: usr, _admin-->
      <div class="row">
        <div class="col-sm-5 project-container-text text-left">
          <p>Personal profile</p>
          <%=link_to usr do %>
            <h1><%= usr.name ? usr.name : usr.firstname %> <%if usr.status==2 then%><sup><span class="glyphicon glyphicon-ok-sign interviewed-mark" aria-hidden="true"data-toggle="tooltip" data-placement="bottom" title="Interviewed by The Globe" data-original-title="Interviewed by The Globe"></span><%end%></sup></h1> 
          <%end%>
        </div>
        <div class="col-sm-7 text-right">
          <% if usr.skills then %>
            <ul class="profile-skill-list list-inline">
              <% usr.skills.each do |skill|%>
                <% if skill[1] == "on" %>
                  <li><%=skill[0]%></li>
                <%end%>
              <%end%>
            </ul>
          <%end%>
        </div>
      </div>