<!-- local vars: usr, _admin-->
  <div class="row">
    <div class="col-sm-9 text-left main-description">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <%=link_to usr do %><% if (usr.picture && !usr.picture.empty?) %><img src="<%=usr.picture%>" class="img-responsive" title="<%=usr.name%> @ The Globe." alt="<%=usr.name%> @ The Globe."><%else %><img src="<%=root_url + 'images/paraglide.jpg'%>" class="img-responsive"><%end%><%end%>
          <br>
          <%= render "likes", l_user: usr %>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <%if usr.values&&!usr.values.empty? then%>
          <h2>Values & Goals</h2>
            <p><%= simple_format(usr.values) %></p>
          <%end%>
          <%if usr.experience&&!usr.experience.empty? then%>
          <h2>Experience</h2>
            <p><%= simple_format(usr.experience) %></p>
          <%end%>
          <%if usr.educ&&!usr.educ.empty? then%>
          <h2>Education</h2>
            <p><%= simple_format(usr.educ) %></p>
          <%end%>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-left profile-right-panel">
      <ul class="list-unstyled">
        <%if usr.tests && usr.tests.count>0%>
          <%usr.tests.each do |test|%>
            <%if test.maxtotal && (( test.total.to_f / test.maxtotal.to_f>=0.75)||_admin) then%>
              <li><p>Skill test completed:</p><b><%=@tests[test.num][1]%>: <%= ( test.total.to_f / test.maxtotal.to_f * 100).ceil.to_s + "%" %></b></li>
            <%end%>
            
          <%end%>
        <%end%>
        <%if usr.resume&&!usr.resume.empty?%>
          <li><p>Resume</p><%= link_to "Download file", usr.resume, target: '_blank'%></li>
        <%end%>
        <%if usr.website&&!usr.website.empty?%>
          <li><p>Personal website</p><%= link_to usr.website.to_s, usr.website, target: '_blank'%></li>
        <%end%>
          
        <%if usr.linkedin_link&&!usr.linkedin_link.empty?%>
          <li><p>Linkedin</p><%= link_to usr.linkedin_link.to_s, usr.linkedin_link, target: '_blank'%></li><%end%>
        <%if usr.github_link&&!usr.github_link.empty?%>
          <li><p>Github/Behance page</p><%= link_to usr.github_link.to_s, usr.github_link, target: '_blank'%></li>
        <%end%>
        <%begin%>
        <%if usr.website&&!usr.website.empty?&&URI.parse(URI.encode(usr.website)).host=="github.com"&&!URI.parse(URI.encode(usr.website)).path.empty? then%>
          <% name = URI.parse(URI.encode(usr.website)).path%>
          <%if name&&name!="" then %>
            <% name = name.to_s.gsub("/","") %>
            <% url = URI.encode("http://github-awards.com/users/search?login="+name) %>
            <li><p><b>Github ranking</b></p><%= link_to url, url, target: '_blank'%></li>
          <%end%>
        <%elsif usr.github_link&&!usr.github_link.empty?&&URI.parse(URI.encode(usr.github_link)).host=="github.com"&&!URI.parse(URI.encode(usr.github_link)).path.empty? then%>
          <% name = URI.parse(URI.encode(usr.github_link)).path%>
          <%if name&&name!="" then %>
            <% name = name.to_s.gsub("/","") %>
            <% url = URI.encode("http://github-awards.com/users/search?login="+name) %>
            <li><p><b>Github ranking</b></p><%= link_to url, url, target: '_blank'%></li>
          <%end%>
        <%end%>
        <%rescue%>
        <%end%>
        <%if usr.facebook_link&&!usr.facebook_link.empty?%>
          <li><p>Facebook</p><%= link_to usr.facebook_link.to_s, usr.facebook_link, target: '_blank'%></li><%end%>
        <%if usr.location&&!usr.location.empty?%>
          <li><p>Location</p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= usr.location%></li><%end%>
        <%if usr.citizenship&&!usr.citizenship.empty?%>
          <li><p>Visa/work permit</p><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <%= usr.citizenship%></li><%end%>
      </ul>
      <%if _admin then %>
        <p>email <%= usr.email%></p>
        <p>skype <%= usr.skype%></p>
        <p>phone <%= usr.phone%></p>
        
        status: <%= usr.status.to_s %><br>
        <%=link_to "Mark interviewed", user_mark_interviewed_url(usr.id), method: "post"%><br>
        <%=link_to "Show", user_url(usr) %><br>
        <%=link_to "Edit", edit_user_admin_url(usr.id) %><br>
        <%= link_to('Destroy', usr, method: "delete", data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %>
      <%end%>
    </div>
  </div>