<!-- local vars: usr-->
  <div class="row">
    <div class="col-sm-12 text-left main-description">
      <h4>Mutual interest</h4>
      <%i=0%>
      <%if usr.find_voted_items.size>0 then%>
        <table class="table table-striped table-hover ">
          <tbody>
          <% usr.find_voted_items.each do |liked|%>
            <% if liked.voted_for? usr then %>
              <%i=i+1%>
            <tr>
              <td><%= link_to liked.name.to_s, liked %></td>
              <td><%= link_to 'View profile', liked %></td>
              <td><%offers = Offer.where(rec: usr.id, sender: liked.id) %>
                <%if offers&&offers.count%>
                    <% offers.each do |offer| %>
                      <p>
                        <b>Offer made on <%= offer.created_at.to_s%></b><br>
                        <u>Role: <%=offer.role%></u>, $<%=offer.value.to_s%><br>
                        <%=offer.description.html_safe%><br>
                        <%if offer.status==1 then %>
                          <b>Accepted on <%= offer.updated_at.to_s%></b><br>
                        <%else%><%=link_to "Accept offer", acceptoffer_user_path + "?offer_id=" + offer.id.to_s, class: 'btn btn-sm btn-primary'%>
                        <%end%>
                      </p><Br>
                    <%end%>
                  <%end%>
                </td>
            </tr>
            <%end%>
          <%end%>
          </tbody>
        </table>
      <%end%>
      <%if i==0%>
      <p>No mutual interest at this point. <%= link_to "Fill in your profile", edit_user_path(current_user) %> to grab more attention and <%= link_to "browse companies", feed_path %> to apply yourself.</p>
      <%end%>
      <Br><br>
      <h4>Incoming invitations</h4>
      
      <%i=0%>
      <%if usr.get_likes.size>0%>
        <table class="table table-striped table-hover ">
          <tbody>
          <% usr.get_likes.each do |like|%>
            <%voter = User.find(like[:voter_id])%>
            <%if voter && !(usr.voted_for? voter) then %>
              <%i=i+1%>
              <tr>
                <td><%= link_to voter.name.to_s, voter %></td>
                <td><%= link_to 'View profile', voter %></td>
                <td><%= if voter.website && (voter.website.length>0) then link_to voter.website, voter.website end %></td>
                <td><%= link_to "Agree to chat", like_user_path(voter), method: :put, class: "btn btn-sm btn-primary" %></td>
              </tr>
            <%end%>
          <%end%>
          </tbody>
        </table>
      <%end%>
      <%if i==0%>
      <p>No incoming invitations. <%= link_to "Fill in your profile", edit_user_path(current_user) %> to grab more attention and <%= link_to "browse companies", feed_path %> to apply yourself.</p>
      <%end%>
      <Br><br>
      <h4>Sent applications</h4>
      <%i=0%>
      <%if usr.find_voted_items.size>0 %>
        <table class="table table-striped table-hover ">
          <tbody>
          <% usr.find_voted_items.each do |liked|%>
            <% if ! (liked.voted_for? usr) then %>
              <%i=i+1%>
              <tr>
                <td><%= link_to liked.name.to_s, liked %></td>
                <td><%= link_to 'View profile', liked %></td>
                <td><%= if liked.resume && (voter.liked.length>0) then link_to 'Resume', liked.resume end %></td>
                <td></td>
              </tr>
            <%end%>
          <%end%>
          </tbody>
        </table>
      <%end%>
      <%if i==0%>
        <p>No invites are awaiting responses. Try <%= link_to "browsing companies", feed_path %> and invite someone to chat.</p>
      <%end%>
    </div>
  </div>
      
  
  
