<% provide(:title, "Edit profile") %>

<br><br>
<h1>Edit profile</h1>
<br>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@user, id: "person_edit") do |f| %>

      <%= f.email_field :email, placeholder: "Email", class: 'form-control login-form-control' %>

      <%= f.password_field :password, placeholder: "Password", class: 'form-control login-form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Join ( Globe ) now!", signup_path %></p>
  </div>
</div>

<%= link_to 'Return without saving', user_path %>
