<% provide(:title, "Edit profile: " + @user.name.to_s + " @ The Globe. Create Anywhere.") %>
<% provide(:description, @user.summary) %>
<% provide(:image, if @user.picture then @user.picture else root_url + "images/paraglide.jpg" end) %>

<%= form_for(@user, html: { id: "project_edit", class: 'directUpload form-horizontal', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>
<div class="container-fluid project-container-header">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type%>"><%= message %></div>
  <% end %>	
  <div class="container">
    <div class="col-sm-12 project-container-text text-left">
      <h2>Edit personal information</h2>
      <br><br>
    </div>
  </div>
</div>
<br>
<div class="container-fluid profile-private-info">
  <div class="container">
    <div class="col-sm-6 text-left main-description">
      <div class="form-group">
        <label class="col-sm-4 control-label">Account type</label>
        <div class="col-sm-8">
          <div class="radio">
            <%= f.radio_button :utype, 0 %> I am a professional
          </div>
          <div class="radio">
            <%= f.radio_button :utype, 1 %> I represent a company
          </div>
        </div>
      </div>
      <% if @user.visibility&&@user.visibility==1 then%>
        <p><span class="glyphicon glyphicon-play profile-play-sign" aria-hidden="true"></span>
        You profile is visible in search results
      <%else%>
        <p><span class="glyphicon glyphicon-pause profile-pause-sign" aria-hidden="true"></span>
        Your profile is hidden from search results
      <%end%>
      <div class="checkbox">
        <label>
          <%= f.check_box :visibility %> Show my profile in search results
        </label><br>
        <label>
          <%= f.check_box :stop_letters %> Unsubscribe from emails
        </label>
      </div>
      <br>
      <%= link_to "Change password", new_password_reset_path, class: "btn btn-primary" %>
      <Br><br>
      <div class="form-group">
        <label class="col-sm-2 control-label">Company name</label>
        <div class="col-sm-8">
          <%= f.text_field :name, placeholder: @user.name, class: 'form-control edit-form-control' %>
        </div>
      </div>
      
      <%if @user.errors[:name].any?%>
        <div class="alert alert-warning"><%= @user.errors[:name].first.to_s %></div>
      <%end%>
      
      <div class="form-group">
      
        <label class="col-sm-2 control-label">Your name</label>
        <div class="col-sm-8">
          <%= f.text_field :firstname, placeholder: @user.firstname, class: 'form-control edit-form-control' %>
        </div>
        <%if @user.errors[:firstname].any?%>
          <div class="alert alert-warning"><%= @user.errors[:firstname].first.to_s %></div>
        <%end%>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-8">
          <%= f.email_field :email, placeholder: @user.email, class: 'form-control edit-form-control' %>
        </div>
        <%if @user.errors[:email].any?%>
          <div class="alert alert-warning"><%= @user.errors[:email].first.to_s %></div>
        <%end%>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Skype</label>
        <div class="col-sm-8">
          <%= f.text_field :skype, placeholder: @user.skype, class: 'form-control edit-form-control' %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-8">
          <%= f.text_field :phone, placeholder: @user.phone, class: 'form-control edit-form-control' %>
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-left profile-right-panel">
      <h4>Select skills you need</h4>
      <ul class="list-inline">
        <% $globalvar_skills.each do |skill|%>
          <% if @user.skills && @user.skills[skill] == "on" then checkline="checked" else checkline =""  end%>
          <li class="project-skills-edit">
            <input class="form-control" type="checkbox" name="user[skills][<%=skill%>]" id="<%=skill%>" <%=checkline%> >
            <label for="<%=skill%>"><%=skill%></label>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
</div>

   
<div class="container-fluid project-container profile-public-info">
  <div class="container">
    <div class="col-sm-6 text-left main-description">
      <div class="row">
        <div class="col-sm-6">
          <% if (@user.picture && !@user.picture.empty?) %>
            <img src="<%=@user.picture%>" class="img-responsive" title="<%=@user.name%> @ The Globe." alt="<%=@user.name%> @ The Globe.">
          <%else %>
            <img src="<%=root_url + 'images/paraglide.jpg'%>" class="img-responsive">
          <%end%>
        </div>
        <div class="col-sm-6">
          
        </div>
        <div class="col-sm-12">
          <br>
          <div class="form-group">
            <label class="col-sm-4 control-label">Image</label>
            <div class="col-sm-8">
              <%= f.file_field :picture, class: 'form-control edit-form-control' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-left profile-right-panel">
      <div class="form-group">
        <label class="col-lg-4 control-label">Location</label>
        <div class="col-lg-8">
          <%= f.text_field :location, placeholder: @user.location, class: 'form-control edit-form-control' %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-4 control-label">Website</label>
        <div class="col-lg-8">
          <%= f.url_field :website, placeholder: @user.website, class: 'form-control edit-form-control' %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-4 control-label">Founder's LinkedIn account</label>
        <div class="col-lg-8">
          <%= f.url_field :linkedin_link, placeholder: @user.linkedin_link, class: 'form-control edit-form-control' %>
        </div>
      </div>
    
    </div>
    <div class="col-sm-10 col-sm-offset-1">
      <br>
      <br>
      <h2>Values & Goals <small><sup><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="auto" title="Key facts about your team and company: what you do, how you do it, what are your goals and your culture."></span></sup></small></h2>
      <%= f.text_area :values, placeholder: "Key facts about your team and company: what you do, how you do it, what are your goals and your culture.", class: 'form-control edit-form-control' %>
      <h2>Experience <small><sup><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="auto" title="Describe who are you looking for."></span></sup></small></h2>
      <%= f.text_area :experience, placeholder: "Describe who are you looking for.", class: 'form-control edit-form-control' %>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <%= link_to 'Cancel', user_path, class:"btn btn-default" %> 
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    </div>
    <br><br>
  </div>
  
</div>
<%end%>

