<% provide(:title, "The Globe. Create Anywhere.") %>
<% provide(:description, "Search for roles in inspiring projects around the globe.") %>
<% provide(:image, root_url + "images/paraglide.jpg") %>

<div class="container-fluid project-container-header">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type%>"><%= message %></div>
  <% end %>	
  <div class="row">
    <div class="container">
      <h1>Search inspiring projects overseas</h1>
      <h3>Choose skills to browse projects looking for them</h3>
      
      <%= form_tag(feed_path, method: 'get', class: "form-inline searchform") do %>
        <ul class="list-inline">
          <% $globalvar_skills.each do |skill|%>
            <li class="project-skills-edit">
              <input class="form-control" type="checkbox" name="<%=skill%>" id="<%=skill%>" <%= if @qskills[skill] then "checked" end%>>
              <label for="<%=skill%>"><%=skill%></label>
            </li>
          <%end%>
        </ul>
        <%= submit_tag "Search", class: "btn btn-lg btn-success" %>
      <%end%>
    </div>
  </div>
</div>

<div class="container-fluid project-container">
  <% if @feed!=[] then %>
    <% @feed.each do |usr| %>
    <div class="container-fluid search-public-info">
      <div class="container">
        <%= render "business_header", usr: usr, _admin: false %>
      </div>
    </div>
    <br>
    <div class="container">
      <%= render "business_details", usr: usr, _admin: false %>
    </div>
    <% end%>
  <% else%>
  <p>Sorry, nothing found.</p>
  <%end%>
</div>