<% provide(:title, "Users @ The Globe") %>
<% provide(:description, "Users @ The Globe") %>
<% provide(:image, root_url + "images/paraglide.jpg") %>

  <div class="flash-alerts">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type%>"><%= message %></div>
    <% end %>	
  </div>
<%= render "static_pages/adminmenu" %>
<div class="container-fluid project-container">
  <h1>Users</h1>
  <% @users.order('updated_at DESC').all.each do |usr| %>
    <%if usr.utype==1 then %>
      <div class="container-fluid search-public-info">
        <%= render "business_header", usr: usr, _admin: true %>
      </div>
      <br>
      <div class="container">
        <%= render "business_details", usr: usr, _admin: true %>
      </div>
    <%else%>
      <div class="container-fluid search-public-info">
        <%= render "pro_header", usr: usr, _admin: true%>
      </div>
      <br>
      <div class="container">
        <%= render "pro_details", usr: usr, _admin: true %>
      </div>
    <%end%>
  <%end%>
  
    
</div>
