<% recname = User.find(@offer.rec).name %>
<% provide(:title, "Make at offer to " + recname + " @ The Globe. Create Anywhere.") %>
<% provide(:description, "Making at offer of collaboration to "+ recname + " @ The Globe. Create Anywhere.") %>
<% provide(:image, root_url + "images/paraglide.jpg") %>

<br><Br>
<h1>Offer collaboration to <%= recname %></h1>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<br><br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @offer, url: offer_user_path, method: 'post' do |f| %>
      <%= f.hidden_field :rec, value: @offer.rec %>
      <%= f.text_field :role, placeholder: "Name the role", class: 'form-control' %>
      <%= f.text_area :description, placeholder: "Describe the offer: task, duration, dates, any perks other that direct compensation.", class: 'form-control' %>
      <%= f.text_field :value, placeholder: "Compensation in US$ that the pro will receive for the contract in total.", class: 'form-control' %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>