<% provide(:title, @user.name.to_s + " @ The Globe. Create Anywhere.") %>
<% provide(:description, @user.values) %>
<% provide(:image, if (@user.picture&&!@user.picture.empty?) then @user.picture else root_url + "images/paraglide.jpg" end) %>
<%# Person private fields: email*, password*, skype, phone
           public fields: name*, skills, education, experience, values & goals, image link, linkedin link, github / bb / behance link, personal website/blog, facebook link, location, citizenship %>
           
           
<div class="container-fluid project-container-header">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type%>"><%= message %></div>
  <% end %>	
  <div class="container">
  <%= render "pro_header", usr: @user, _admin: false %>
  </div>
</div>  
<div class="container-fluid project-container profile-public-info">
  <div class="container">
  <%= render "pro_details", usr: @user, _admin: false %>
  </div>
</div>