<% provide(:title, @user.name.to_s + " @ The Globe. Create Anywhere.") %>
<% provide(:description, @user.values) %>
<% provide(:image, if (@user.picture&&!@user.picture.empty?) then @user.picture else root_url + "images/paraglide.jpg" end) %>
           
<div class="container-fluid project-container-header">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type%>"><%= message %></div>
  <% end %>	
  <div class="container">
  <%= render "pro_header", usr: @user, _admin: false %>
  </div>
</div>
<br>
<div class="container-fluid profile-private-info">
  <div class="container">
  <%= render "pro_private", usr: @user %>
  </div>
</div>