<% provide(:title, "(Globe) Create anywhere") %>

<div class="jumbotron jumbotron-searchperson">
  <div class="container">
    <h1>Find an inspired Pro</h1>
    <%= form_tag({controller: "users", action: "searchperson"}, {class: "form-inline searchform"}) do %>
    <div class="form-group"><label>Competence</label>
    <%= text_field_tag :q, "",  class:"form-control" %>
    </div>
    <%= submit_tag "Search", class: "btn btn-success searchform" %>
    <%end%>
    <p class="jumbotron-searchperson_notice">
      <%=link_to "Sign up your project to use the platform", root_url %>
    </p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <% if !@found.nil? %>
    <% @found.each do |f|%>
      <div class="row person-profile-search">
        <div class="col-md-12 text-left">
          <div class="row">
            <div class="col-md-11 col-sm-6 col-xs-6">
            <% namelink = ('<h2>').html_safe + f.name.to_s + ('</h2>').html_safe %>
              <%= link_to namelink, user_path(f), class:"search-name"%>
            </div>
            <div class="col-md-1 col-sm-6 col-xs-6 text-right">
              
              <%if current_user%>
                <%if current_user.voted_for? f %>
                  <%= link_to ('<h2><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></h2>').html_safe, like_user_path(f), method: :put, remote: true%>
                <%else%>
                  <%= link_to ('<h2><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></h2>').html_safe, like_user_path(f), method: :put, remote: true %>
                <%end %>
              <% else%>
                <span class="glyphicon glyphicon-heart" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Log in to like a user"></span>
              <% end%>
            </div>  
          </div>
          <div class="row">
            <div class="col-md-4">
              <p class="search-roles">
                <%if f.roles%>
                  <%= f.roles.gsub(/\n/, '<br/>')%>
                <%end%>
              </p>
              <%if !f.linkedin && f.website %>
                <p class="search-website">
                  <a href="<%= f.website%>" target="_blank">
                    <%begin%>
                      <%= URI.parse(f.website).host%>
                    <%rescue%>
                      <%=f.website%> 
                    <%end%>
                  </a></p>
              <%end%>
            </div>
            <div class="col-md-7">
              <blockquote>
              <p class="search-values">
                <%if f.values%>
                  <%if !f.values.empty? %>
                    <% f.values.split(/$/).each do |line| %>
                    <%= line%><br>
                    <%end%>
                  <%end%> 
                <%end%>
              </p></blockquote>
            </div>
          </div>
          <div class="row linkedin-info">
            <div class="col-md-4">
                <%if f.picture %>
                  <img src="<%= f.picture %>" class="img-responsive">
                <%end%>
                <p class="linkedin-headline"><%= f.headline%></p>
                <%if f.summary %>
                <p><%= f.summary%></p>
                <%end%>
                <%if f.specialties %>
                <h5>Specialties</h5>
                <p><%= f.specialties%></p>
                <%end%>
                <%if !f.location.nil? %>
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span><%= f.location%>
                <%end%>
            </div>
            <div class="col-md-4">
            <%if f.experience%>
              <%if f.experience.length>0 %>
                <h5><u>Experience</u></h5>
                <p><b><%= f.experience[0].to_s %>
                <%if !f.experience[1].nil?%>
                   | <%= f.experience[1].to_s%></b>
                   <br>
                  <%if !f.experience[2].nil? %>
                    <%= f.experience[2].to_s%>
                  <%end%>
                <%end%>
                </p>
              <%end%>
            <%end%>
            </div>
            <div class="col-md-4">
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="row person-profile-search-memo">
      <div class="col-md-12 text-left">
          <p id="notice">
            <% flash.each do |k, v| %>
              <div id="<%= k %>"><%= v %></div>
            <% end %>
          </p><br><br>
      </div>
    </div>
  <% end %>
</div> <!-- /container -->

