<% provide(:title, "Skill tests @ The Globe. Create Anywhere.") %>
<% provide(:description, "Take a test and let your skills speak for yourself.") %>
<% provide(:image, root_url + "images/paraglide.jpg") %>

<div class="container-fluid project-container-header">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type%>"><%= message %></div>
  <% end %>	
  <div class="container">
    <br>
    <h1>Skill tests</h1>
    <h3>Take a test and let your skills speak for yourself</h3>
  </div>
</div>
<div class="container-fluid project-container profile-public-info text-left">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p>Tests are currently a work in progress. We work to prepare more of them, and to collect feedback on the existing ones. So please share your experience to theglobeteam@gmail.com.</p>
        <p>Note that all tests have a time limit! Each test can only be taken once: once you open the test, you cannot stop it or re-take it later. By taking the test you pledge to complete it without use of any external resources. All tests consist of multiple choice questions.</p>
        <p>No worries: if you score lower than 75%, your results will not be shown in your profile.</p>
        
        <p>Good luck and have fun =)</p>
        <br><br>
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Test name</th>
              <th>Time limit</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <%@tests.each do |test| %>
              <%ut=nil%>
              <% if @user.tests then ut = @user.tests.where("num="+test[0].to_s) end %>
              <%if ut&&ut.empty? then ut=nil end%>
              <tr>
                <td><%if !ut then %>
                      <%=link_to test[1].to_s+": available", test_user_path + "?test_num="+test[0].to_s, id: "pro_test_"+test[0].to_s %>
                    <%else%>
                      <%= test[1].to_s%>: completed
                    <%end%>
                </td>
                <td><%= (test[2].to_i / 60) %> min <%= (test[2].to_i % 60)%> sec</td>
                <td><%if ut then %>
                      <b><%= ( ut.first.total.to_f / test[3].count.to_f * 100).ceil.to_s + "%" %></b>
                    <%else%>
                      Not taken
                    <%end%>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
    
    <br><br><br>
  </div>
</div>
          