<% provide(:title, "Take a test: "+ @tests[@test.num][1] +" @ The Globe") %>
<% provide(:description, "Take a test: "+ @tests[@test.num][1] +" @ The Globe") %>
<% provide(:image, root_url + "images/paraglide.jpg") %>

<div class="container-fluid project-container-header">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type%>"><%= message %></div>
  <% end %>	
  <div class="container">
    <br><br>
    <h1><%= @tests[@test.num][1] %> skills</h1>
    <h3>You have <%=@test.timelimit%> seconds to complete the test.</h3>
  </div>
</div>

<div class="container-fluid profile-public-info">
  <br><br>
  <div class="container">
    <%= form_for @test, url: test_user_path, method: 'post' do |f| %>
      <%= f.hidden_field :id, value: @test.id %>
      <%= f.hidden_field :num, value: @test.num %>
      <%= f.hidden_field :timelimit, value: @test.timelimit %>
      <div class="test_timer" id="test_timer"> </div>
      <%qnum = 1%>
      <% @tests[@test.num][4].each  do |ques|%>
        <div class="row">
          <div class="col-sm-4 text-left test-question"><%= ques[0]%></div>
          <div class="col-sm-8 text-left test-answer">
            <% anum = 1%>
            <% ques[1].each do |ans| %>
              <div class="radio">
                <label><input type="radio" name="<%='q'+qnum.to_s%>" id="<%='q'+qnum.to_s%>" value="<%=anum.to_s%>"> <%= ans.to_s%></label>
              </div>
              <% anum+=1%>
            <%end%>
          </div>
        </div>
        <Br>
        <hr></hr>
        <% qnum+=1%>
      <%end%>
      
      <br><br>
      <%= f.submit "Submit test", class: "btn btn-primary", id: "test_form_sumbit" %>
    <% end %>
    <br><Br>
  </div>
</div>