<% provide(:title, "Forgot password") %>
<% provide(:image, root_url + "images/paraglide.jpg") %>
<div class="flash-alerts">
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type%>"><%= message %></div>
<% end %>	
</div>
<h1>Change your password</h1>
<br><br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      <div class="field">
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, placeholder: "New password", class: 'form-control login-form-control' %>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, placeholder: "Confirm new password", class: 'form-control login-form-control' %>
      </div>
    <br>
      <div class="actions">
        <%= f.submit "Change my password", class: "btn btn-primary" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
    
  </div>
</div>
