<% provide(:title, "Forgot password") %>
<div class="flash-alerts">
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type%>"><%= message %></div>
<% end %>	
</div>
<h1>Forgot password?</h1>
<br><br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="field">
        <%= f.email_field :email, placeholder: "Email", autofocus: true, class: 'form-control login-form-control' %>
      </div>
    <br>
      <div class="actions">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>