<br><br><bR>
  

<div class="container-fluid project-container profile-public-info">
  <div class="container">
    <div class="col-md-8 text-left">
      <%if @letterlist && !@letterlist.empty? then%>
        <% @letterlist.each do |letter|%>
          <p>To: <%= letter.rec %></p>
          <p><%= letter.header %></p>
          <br><br>
          <%= letter.text.html_safe %>
          <br>
          <hr></hr>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
