<% provide(:title, "Auto cold emails") %>
<br><Br>
<h1>Send a new letter</h1>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<br><br>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for @letter, url: automate_path do |f| %>
      <%= f.text_area :text, placeholder: "CompanyName, email, skills, looking_for", class: 'form-control login-form-control' %>
      <br>
      <br>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>