<% provide(:title, "Send a new letter to users") %>
<br><Br>
<h1>Send a new letter</h1>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<br><br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @letter, url: sendletter_path do |f| %>
      <%= f.text_field :header, placeholder: "Letter header", class: 'form-control login-form-control' %>
      <%= f.text_area :text, placeholder: "Text with html", class: 'form-control login-form-control' %>
      <input type="radio" id="letter_category_3" name="letter[category]" value="3" checked="checked" /> Self only (test)<br>
      <input type="radio" id="letter_category_0" name="letter[category]" value="0"  /> All<br>
      <input type="radio" id="letter_category_1" name="letter[category]" value="1" /> Pros only<br>
      <input type="radio" id="letter_category_2" name="letter[category]" value="2" /> Businesses only<br>
      <!--<br><p>Start id</p>
      <%= f.number_field :start_id, class: 'form-control login-form-control' %> -->
      <br>
      <p>Skill filter</p>
      <ul class="list-inline">
        <% $globalvar_skills.each do |skill|%>
          <li class="project-skills-edit">
            <input class="form-control" type="checkbox" name="letter[skills][<%=skill%>]" id="<%=skill%>" >
            <label for="<%=skill%>"><%=skill%></label>
          </li>
        <%end%>
      </ul>
      <br>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>