<% provide(:title, "Log in. The Globe - Create Anywhere.") %>
<% provide(:image, root_url + "images/paraglide.jpg") %>
<br><Br>
<h1>Log in</h1>
<div class="row">
  
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "login_form" }) do |f| %>
      <div class="field">
        <%= f.label :email %> 
        <%= f.email_field :email, autofocus: true, placeholder: "Email", class: 'form-control login-form-control' %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "Password", class: 'form-control login-form-control' %>
      </div>
    
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me, checked:'checked'%>
            <span>Remember me on this computer</span>
          <% end %>
        </div>
      <% end -%>
    
      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary", id: "login_button" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>