/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background: url(../images/egyptcoworking.jpg) no-repeat;
  background-size: cover;
  position:relative;
}
.site-wrapper-inner {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.site-wrapper-project{
  background: url(../images/paraglide.jpg) no-repeat;
  background-size:auto 100%;
  height:auto;
  min-height: 470px;
}
.dl-horizontal dt{
	margin-top:0;
	white-space: normal;
	
}
.dl-horizontal dd{
	text-align:left;
	margin-top:23px;
}
.admin-menu > .list-group-item{
	background:none;
	border:none;
	text-align:left;
}

.cover-container {
	
  margin-right: auto;
  margin-left: auto;
  background-color:rgba(255,255,255,0.6);
}

/* Padding for spacing */
.inner {
  padding: 0;
  text-align:center;
}

.project-header{
	float:right;
	color:#282828;
	font-size:36px;
	margin-bottom:60px;
}


.vertical-text {
	transform: rotate(-90deg);
	transform-origin: 90px 100px;
}


/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #075b4b;
}




/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
 
body{
	font-family:'Roboto', sans-serif;
	width:100%;
	letter-spacing: 0;
	color:#222;
	text-align: center;
	text-shadow: none;
}

.navbar-default{
	background:rgba(40,40,40,0.3);
	border:0;
	min-height:50px;
}
.navbar-default .navbar-nav>li>a{
	color:#fff;
	font-size:13px;
	font-family: "Open Sans", sans-serif;
	font-weight:600;
	text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active{
	color:#fff;
	font-weight:800;
}
.navbar-brand{
	padding:0;
	height:50px;
}
.navbar-brand img{
	height:50px;
	transform: translate3d(0,0,0);
}
.navbar-nav{
	padding-left:40px;
}
.flash-alerts{
	margin-top:70px;
}
.alert{
	background:#3e9bef;
}

.footer{
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 0;
  color: #000;
  text-align: center;
  font-size:12px;
  font-weight:100;
}

.bs-docs-footer-links {
  padding-left: 0;
  margin-top: 0px;
}

.bs-docs-footer-links li:first-child {
  padding-left: 0;
}
.bs-docs-footer-links li {
  display: inline;
  padding: 0 10px;
}

.bs-docs-footer-links li a{
	color:#202020;
}


h1{
	font-family: 'Roboto';
	font-weight:800;
	font-size:70px;
	text-transform:uppercase;
}
.cover-container-project{
	background:none;
}
.cover-container > .cover h1{
	color:#0987ab;
	font-weight:300;
	font-size:26px;
	margin-bottom:30px;
	text-transform:uppercase;
}
.cover-container-project > .cover h1{
	color:#fff;
	font-weight:400;
	font-size:48px;
	margin-bottom:30px;
	text-transform:none!important;
	
}
.cover-container>.cover h4{
	margin:0;
	padding:5px;
	font-weight:400;
	font-size:36px;
	border:0;
}

.cover-container>.cover p{
	color:#fff;
	font-size:26px;
	border:0;
	background:rgba(0,0,0,0.1);
	border-radius:10px;
	padding:5px 10px;
}

.project-features, .project-features p{
	font-size:18px;
	color:#fff;
	text-align:left;
	
}
.project-features h2{
	font-size:34px;
	font-weight:400;
	color:#fff;
	margin-bottom:50px;
}
.project-features h2 small{
	color:#fff;
}
.project-features h3{
	font-size:28px;
	font-weight:100;
	color:#fff;
	padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom: #fff 2px solid;
}
.project-features-icon{
	font-size:36px;
	color:#aaa;
	border-radius:60px;
	background:#ddd;
	padding: 20px;
}
.project-skills h3{
	font-size:34px;
	color:#000;
	margin-bottom:50px;
}
.project-skills-tech > [type="checkbox"]:not(:checked),
.project-skills-tech > [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.project-skills-tech > [type="checkbox"]:not(:checked) + label,
.project-skills-tech > [type="checkbox"]:checked + label {
  position: relative;
  cursor: pointer;
}

.project-skills ul li >.form-control + label{
	padding: 4px 8px;
	font-size:18px;
	font-weight:100;
	cursor:pointer !important;
	border-radius:10px;
}

.project-skills-tech > .form-control+label{
	background-color:inherit;
	border:#009fde 1px solid;
	color:#009fde;
}
.project-skills-tech > .form-control+label:hover{
	background-color:#07bd10;
	color:#fff;
}
.project-skills-tech > .form-control[type="checkbox"]:checked + label {
	background-color:#009fde;
	color:#fff;
}

.project-signup h3{
	font-size:34px;
	color:#000;
	margin-bottom:50px;
}
.project-signup-form > .form-control, .project-signup > .form-control {
	font-size:28px;
	font-weight:100;
	height:auto;
	border-radius:0;
	box-shadow:none;
	-webkit-box-shadow:none;
	border:none;
	border-bottom: #ccc 1px solid;
}


.subscribe-form{
	margin-top:50px;
	padding-top:50px;
	padding-bottom:50px;
	background:#666;
	color:#fff;
	font-size:24px;
	font-weight:100;
}

#mce-EMAIL{
	background:inherit;
	width:auto!important;
	padding:5px 10px;
	font-size:28px;
	font-weight:100;
	height:auto;
	border-radius:0;
	box-shadow:none;
	-webkit-box-shadow:none;
	border:none;
	border-bottom: #ccc 1px solid;
}
#mc-embedded-subscribe{
    color: #fff!important;
    font-size: 18px!important;
    font-weight: 100!important;
    text-shadow: none!important;
    background-color: #1ebf12;
    border: 0;
    margin: 10px;
    box-shadow: none!important;
    border-radius: 10px!important;
	
}
#mc_embed_signup div.mce_inline_error{
	background:inherit!important;
	color:#fff!important;
}



/*
 * Header
 */
 

.masthead-brand a {
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size:30px;
	box-shadow:none;
	letter-spacing:2px;
 margin-top: 10px;
 margin-bottom: 10px;
 border-bottom: 2px solid transparent;
}
.masthead-brand a:hover{
	 text-decoration:none;
  border-bottom: 2px solid #fff;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}




/*
 * Cover
 */

.cover {
  padding: 0 20px;
  text-align:left;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  text-align:center;
  
}

.mastfoot .inner{
	margin:0 auto;
}

.mastfoot button{
	margin:20px;
}

.featurette{
	padding: 30px;
	text-align:left;
}
.featurette p{
	font-size:20px;
	text-shadow: none;
}

/* Thin out the marketing headings */
.featurette-heading {
	padding-top:20px;
	font-size:30px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  border-bottom: #999 1px solid;
}
/*
 * Affix and center
 */
 

.homepage-flash{
	padding:20px 20px;
	background:#f1b515;
	color:#fff;
}
  
  
.forms-container {
	padding:40px 20px;
}

.forms_header{
	padding:30px 0;
}

.btn{
	color:#fff;
}
.btn-default{
	color:#666;
}

.btn-success{
	margin:20px 10px;
}
.btn-social{
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4px;
  text-transform: none!important;
}
.btn-social>:first-child {
  padding-right: 10px;
  border-right: 1px solid #fff;
}

.btn-facebook, .btn-facebook:hover, .btn-facebook:active{
	color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
}
.btn-linkedin, .btn-linkedin:hover, .btn-linkedin:active{
	color: #fff;
  background-color: #007bb6;
  border-color: rgba(0,0,0,0.2);
}
.btn-facebook > .fa:before{
	content:"\f09a";
}
.btn-linkedin > .fa:before{
	content:"\f0e1";
}

.skill-cloud{
	max-width:70%;
  margin: 0 auto;
	text-align:center;
	margin-top:50px;
}

.edit-form-control{
	color:#fff;
	background-color:transparent;
	font-size:16px;
	border-radius:0;
	border-top:0;
	border-right:0;
	border-bottom: #fff 2px solid;
	border-left:0;
	margin:0;
}

#new_user > .form-group> .form-control{
	color:#fff;
}
#new_user > .form-control:active{
	color:#fff;
}
#new_user > .form-control::-webkit-input-placeholder {
   color: #fff;
}

#new_user > .form-control:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}

#new_user > .form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}

#new_user > .form-control:-ms-input-placeholder {  
   color: #fff;
}

.field_with_errors > input{
	background:#9c27b0;
	color:#fff;
}


.footer{
	padding-top:50px;
}
.signup-bluegreen-container{
  background: linear-gradient(to right, #3a94cd, #2ae02e);
  font-size:16px;
  color:#fff;
  margin-top:0;
  margin-bottom:40px;
  padding-top:20px;
  padding-bottom:20px;
}
.signup-bluegreen-container h2, .signup-bluegreen-container h3{
	color:#fff;
}
.container-white{
	background-image:url(../images/bgglobe.jpg);
	background-repeat: no-repeat;
	background-size: 34% auto;
	background-position:left center;
	color:#333;
	padding-top:60px;
	padding-bottom:60px;
	margin-top:0;
	margin-bottom:0;
	text-align:left;
}
.container-white .lead{
	font-size:22px!important;
}
.container-white p{
	font-size:18px;
}
.container-white a{
	color:#333;
}
.no-background{
	background-image: none;
    background: #f0f0f0;
    border: #ccc 1px solid;
    border-radius: 15px;
    padding-top: 20px;
    padding-left: 50px;
}

.process-items > li{
	font-size:16px;
	padding:5px 15px;
	margin-right:20px;
	margin-top:5px;
	margin-bottom:5px;
	border-radius:5px;
	position:relative;
  color: #fff;
  background: linear-gradient(to right, #3a94cd, #2ae02e);
  background-size:1400px;
}
.process-items > li:nth-of-type(2){
	background-position:15% 0;
}
.process-items > li:nth-of-type(3){
	background-position:30% 0;
}
.process-items > li:nth-of-type(4){
	background-position:45% 0;
}
.process-items > li:nth-of-type(5){
	background-position:60% 0;
}
.process-items > li:nth-of-type(6){
	background-position:75% 0;
}
.process-items > li:nth-of-type(7){
	background-position:90% 0;
}
.process-items > li::after{
	content: "";
	position:absolute;
  top: 20px;
  right: -17px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-top: -15px;
  margin-left: -15px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #6F6F6F;
}
.process-items > li:last-of-type::after{
	visibility:hidden;
}

.project-task{
	border-radius:5px;
	border: #999 1px dotted;
	text-align:left;
	color:#333;
	padding:20px;
	margin:20px 0px;
	
}


@media (max-width: 767px){
	
	.cover-container-project > .cover h1{
		text-align:center;
		font-size:36px;
	}
	.cover-container > .cover p{
		font-size:16px;
	}
	.container-white{
		background-size: auto 150%;
		background-position:center center;
	}
	.container-white p{
		font-size:14px;
	}
	.project-features, .project-features p {
		font-size:14px;
	}
	h1{
		font-size:45px;
	}
	.site-wrapper{
		top:50px;
		margin-bottom:50px;
	}
		.navbar-default{
		background:#606060;
	}
	.jumbotron-searchperson{
		margin-top:50px;
	}
		.featurette{
		padding: 0 10px;
		text-align:left;
	}
	.jumbotron-searchperson{
		padding-top:inherit;
	}
		
	.bg-globe{
		font-size:200px;
		color:#ddd;
	}
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
  .site-wrapper-project{
  	height:470px;
  	background-size:100% auto;
  }
  .site-wrapper-inner {
  	height:100%;
   vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  
  .dl-horizontal dt{
  	white-space: normal;
  }
	.bg-globe{
		font-size:400px;
		color:#ddd;
	}
  

}

@media (min-width: 992px) {
	.cover-container-project{
		width:90%;
	}
	.cover-container-project > .cover h1{
		font-size:64px;
	}
  .cover-container {
  	padding:40px 20px 40px 10%;
  	text-align:left;
  }
  .site-wrapper-project{
  	height:620px;
  }
}
@media (min-width: 1200px) {
	.cover-container-project{
		width:80%;
	}
  .site-wrapper-project{
  	height:750px;
  }
}