// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
}
th, td{
	padding:5px;
}

h1{
  font-size:44px;
  font-weight:800;
  margin-bottom:30px;
  text-transform:uppercase!important;
  font-family:"Open Sans", sans-serif;
  text-transform:none;
}
h2{
  font-size:18px;
  text-transform:uppercase;
  padding-top:30px;
  font-weight:100;
  font-family:"Open Sans", sans-serif;
}
h3{
  font-size:24px;
  font-weight:800;
  font-family:'Open Sans', sans-serif;
  text-transform:none;
  color:#444;
  margin-bottom:30px;
}
p {
    text-transform: none;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.846;
    color: #444;
    font-weight: 400;
}
a{
	text-decorarion:underline;
}
.test_timer{
  position: fixed;
  top:100px;
  right:100px;
  z-index:10000;
  font-size:40px;
}

.test-question{
  font-size:24px;
  font-weight:100;
}

.test-answer{
  font-size:18px;
}

.spinner{
  position:absolute;
  top:30%;
  left:45%;
  font-size:20px;
  color:#2196F3;
  z-index:10000;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.LinkedIn-connect{
  background: #007bb6;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 13px;
}
.project-container-header{
  background: linear-gradient(to right, #3a94cd, #2ae02e);
  padding-top:60px;
  font-size:16px;
  color:#fff;
  
}
.project-container-header h1{
  color:#fff;
  margin-top:0;
}
.project-container-header a h1{
  text-decoration:none !important;
}
.project-container-header h2{
  color:#fff;
  margin-top:0;
  padding-top:0;
}
.project-container-header h3{
  color:#fff;
}
.project-container-header p{
  color:#fff;
}
.project-container-header a:hover, .project-container-header a, .project-container-header a:focus{
  color:#fff;
  text-decoration:underline;
}
.project-container-text a:hover, .project-container-text a, .project-container-text a:focus{
  text-decoration:none!important;
}
.project-container-leftpanel, .project-container-leftpanel p{
  font-family: "Roboto", sans-serif;
  font-size:14px;
  font-weight:400;
  color:#000;
}
.project-container-leftpanel > h4{
  font-family: "Roboto", sans-serif;
  font-size:16px;
  font-weight:400;
  
}
.panel-success>.panel-heading {
    color: #fff;
    background-color: #2fd158;
    border-color: #aaa;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #3fa0dd;
    border-color: #aaa;
}
.panel-info>.panel-heading{
    color: #fff;
    background-color: #ffd800;
    border-color: #aaa;
}
.panel-info{
  border-color: #aaa;
}

.profile-public-info, .search-public-info{
  background:#f5f5f5;
  padding:10px 0;
}

.profile-public-info h2, .search-public-info h2{
  text-align:left;
  padding-left:30%;
  padding-top:20px;
  padding-bottom:30px;
  font-size:37px;
  color: #333;
  font-weight: 200!important;
  text-transform:none!important;
  margin: 0;
}
.search-public-info ul li {
  color:#444!important;
}
.profile-like-button{
  border-radius:3px;
  background:#009fde;
  font-size:16px;
  font-weight:400;
  border:0;
  padding: 8px 12px;
  color:#fff !important;
}
.profile-unlike-button{
  border-radius:3px;
  background:#07bd10;
  font-size:16px;
  font-weight:400;
  border:0;
  padding: 8px 12px;
  color:#fff !important;
}

.profile-play-sign{
    font-size: 50px;
    float: left;
    padding-right: 20px;
    color: green;
  
}
.profile-pause-sign{
    font-size: 50px;
    float: left;
    padding-right: 20px;
    color: yellow;
  
}

.profile-skill-list{
  list-style:none;
}
.profile-skill-list > li{
  background: #404040;
  color: #fff;
  border: 0;
  padding: 1px 10px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 3px;
  margin: 2px;
}
.profile-skill-list > li.searched{
  background:#009fde !important;
  color:#fff;
}
.project-container{
  padding-top:20px;
}
.project-container p{
  font-size:14px;
  margin-bottom: 0;
  margin-top: 1em;
}
.project-container-edit{
  padding-top:60px;
}
.project-container > hr:last-of-type{
  display:none;
}
.project-container h4, .project-container-person h4{
  font-size:24px;
  text-transform: none;
  line-height:1;
  font-weight:700;
  padding-bottom:10px;
  padding-top:10px;
  text-align:left;
}
.project-container-text > p, .profile-likes> p{
  font-size:16px;
  margin-bottom:0;
}

.project-contact-person{
	
	padding:20px;
	color:#666;
}
.project-contact-person span{
	color:#666;
}
.project-skills-search{
	margin-top:50px;
	margin-bottom:50px;
}

.skill-tag{
	padding: 10px 10px;
  font-size: 18px;
  font-weight: 100;
  border-radius: 10px;
  background-color: #381e73;
  border: none;
  color: #fff;
}
.project-skills-edit > [type="checkbox"]:not(:checked),
.project-skills-edit > [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

#session_remember_me {
  position: relative;
  left:0;
}
.project-skills-edit > [type="checkbox"]:not(:checked) + label,
.project-skills-edit > [type="checkbox"]:checked + label {
  position: relative;
  cursor: pointer;
}
li.project-skills-view{
	margin:2px 5px;
	padding:4px 8px;
	font-size:15px;
	font-weight:100;
	border-radius:10px;
	background-color:inherit;
	border:#381e73 1px solid;
	color:#381e73;
}

li.project-skills-view.checked {
	background-color:#381e73;
	color:#fff;
}

.project-skills-edit > .form-control+label, .profile-skill-list > li{
  background: none;
  border: #ccc 1px solid;
  padding: 1px 10px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 3px;
  margin: 2px;

}
.project-skills-edit > .form-control+label:hover{
  background:#009fde;
  color:#fff;
}
.project-skills-edit > .form-control+label{
	cursor:pointer;
}
.project-skills-edit > .form-control[type="checkbox"]:checked + label {
	background-color:#009fde;
  color:#fff;
}

.interviewed-mark{
  color:#3fa0dd;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  font-size: 20px;
}
.right-panel{
}
.main-description{
  padding:30px 0 100px 0;
}
.main-description, .main-description ul li, .main-description p{
  font-size:18px;
}

.edit-user-block > p{
	margin:0;
}
.edit-form-control{
    background-color: transparent;
    border:0;
    border-radius: 0;
    border-bottom:#666 1px solid;
    box-shadow:none;
    -webkit-box-shadow:none;
    color:#333;
    margin-bottom:20px;
    font-family:"Roboto", sans-serif;
    font-size: 16px;
    font-weight:400;
}

.edit-form-control:active{
	color:#333;
}
.edit-form-control::-webkit-input-placeholder, .edit-form-control:-moz-placeholder,.edit-form-control::-moz-placeholder,.edit-form-control:-ms-input-placeholder {
	color:#333;
}


.heart-active{
	color:#f96868;
}
.profile-info-block{
	margin-bottom:30px;
}
.profile-memo{
	font-size:13px;
}
.profile-memo a{
	text-decoration:underline;
}
.profile-mutual{
	font-weight:800;
	color:#5cb85c;
}
.profile-notice{
	font-size:13px;
	
}
.profile-notice a{
	text-decoration:underline;
}
@media (min-width: 768px){
  .form-horizontal .control-label {
    text-align: left !important;
  }
}